.card_image {
	box-shadow: 0.05rem 0.05rem 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	background-color: #c8d0e3;
	padding: 10px 10px 0 10px;
	@media screen and (max-width: 600px) {
		padding: 10px;
	}
	overflow: hidden;
	img {
		object-fit: contain;
		display: block;
		border-radius: 4px;
		width: 100%;
	}
}
