@import "mixin";
@import "color";

$element: ul, li, img, a, b, h1, h2, h3, h4, h5, h6, p;

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @each $i in $element {
    #{$i} {
      margin-top: 1rem;
    }
  }
  @for $i from 1 to 6 {
    h#{$i} {
      font-size: (2.5rem - (0.25rem * $i));
    }
  }
  img {
    max-width: 1200px;
    display: block;
  }
  p {
    font-size: 1rem;
    line-height: 2;
  }
  pre {
    padding: 10px;
    background-color: $code_background_color;
  }
  a {
    display: block;
    color: $main_color;
    &:hover {
      color: $secondary_color;
    }
  }
  b {
    font-weight: 700;
  }
  li {
    list-style: disc;
    list-style-position: inside;
  }
  table {
    line-height: 1.5;
    a{
      margin-top: 0;
    }
    td {
      border: 1px solid $code_background_color;
      padding: 10px;
    }
    th{
      border: 1px solid $code_background_color;
      padding: 10px;
    }
  }
}
