@import "color";
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  padding: 10px 0;
  h3 {
    margin: 10px 0;
    a {
      color: $main_color;
      font-size: 1.5rem;
      &:hover {
        color: $secondary_color;
      }
      line-height: 1.5;
    }
  }
  text-align: left;
  width: 660px;
}
.page-button {
  cursor: pointer;
  &:hover {
    background-color: white;
  }
  &:active {
    background: $main_color;
  }
  padding: 4px 10px;
  border: 1px solid $secondary_color;
  color: $secondary_color;
}
.page-button-active {
  background: $secondary_color;
  color: white;
}
.pagination {
  display: flex;
  margin-bottom: 10px;
  li:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  li:last-of-type {
    border-radius: 0 4px 4px 0;
  }
}
