@import "../../styles/mixin";
@import "../../styles/color";
.navbar {
	position: fixed;
	z-index: 2;
	padding: 20px;
	background: $main_color;
	width: 100%;
	transition: top 1s;
	box-sizing: border-box;
	& > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include tablet {
			flex-direction: column;
		}
	}
	ul {
		display: flex;
		@include tablet {
			width: 100%;
			flex-direction: column;
			align-items: center;
			overflow: hidden;
			transition: max-height 1s ease-in-out;
		}
	}
	li {
		position: relative;
		padding: 0 20px;
		@include tablet {
			padding: 20px 0px;
			margin-bottom: 10px;
		}
	}
	a,
	.active-navbar {
		display: block;
		@include text_white_shadow;
		&::after {
			content: "";
			position: absolute;
			height: 5px;
			width: 80%;
			left: 10%;
			bottom: -100%;
			background: white;
			border-radius: 4px;
			transform: scaleX(0);
			transform-origin: bottom left;
			box-shadow: 0.05rem 0.05rem 0px 0px black;
			@include tablet {
				bottom: -7%;
				width: 200%;
				left: -50%;
			}
		}
		&:hover::after {
			transition: transform 0.5s;
			transform: scaleX(1);
		}
	}
	.active-navbar {
		&::after {
			transform: scaleX(1);
		}
	}
}
.top0 {
	top: 0;
}
.top-hidden {
	top: -100px;
}

.navbar-home {
	a {
		display: block;
		font-size: 24px;
		transform: scale(1);
		transition: 0.5s;
		@include text_white_shadow;
		&:hover {
			transform: scale(1.1);
		}
		&:hover::after {
			transform: scaleX(0);
		}
	}
}

.icon {
	font-size: 2rem;
}
.iconTxt {
	display: none;
}

@include tablet {
	.menu-show {
		max-height: 400px;
	}
	.menu-noshow {
		max-height: 0px;
	}
	.ham {
		position: absolute;
		height: 40px;
		width: 40px;
		cursor: pointer;
		.line {
			transform: translate(0, -50%);
			top: 50%;
			position: absolute;
			left: 0;
			display: block;
			width: 40px;
			height: 4px;
			border-radius: 4px;
			background-color: rgb(255, 255, 255);
			margin-bottom: 8px;
			&::after,
			&:before {
				content: "";
				position: absolute;
				left: 0;
				display: block;
				width: 100%;
				height: 4px;
				border-radius: 4px;
				background-color: rgb(255, 255, 255);
			}
			&::after {
				top: 12px;
			}
			&::before {
				bottom: 12px;
			}
		}
	}
}
