@import "../../styles/mixin";
@import "../../styles/color";

.card {
	padding: 10px 0;
	h3 {
		margin: 10px 0;
		a {
			color: $main_color;
			font-size: 1.5rem;
			&:hover {
				color: $secondary_color;
			}
			@include tablet {
				font-size: 1.25rem;
			}
			@include mobile {
				font-size: 1rem;
			}
			line-height: 1.5;
		}
	}
	text-align: left;
	width: 750px;
	@include tablet {
		width: 500px;
	}
	@include mobile {
		width: 300px;
	}

	p {
		@include tablet {
			font-size: 0.75rem;
		}
	}
}
