.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px 20px;
  background: #4296d1e0;
}

.navbar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .navbar ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
  }
}

.navbar li {
  position: relative;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .navbar li {
    padding: 20px 0px;
    margin-bottom: 10px;
  }
}

.navbar li a {
  display: block;
  color: white;
  text-shadow: black 0.05rem 0.05rem;
}

.navbar li a::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: -100%;
  background: white;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-box-shadow: 0.05rem 0.05rem 0px 0px black;
          box-shadow: 0.05rem 0.05rem 0px 0px black;
}

@media (max-width: 768px) {
  .navbar li a::after {
    bottom: -7%;
    width: 200%;
    left: -50%;
  }
}

.navbar li a:hover::after {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar-home a {
  display: block;
  font-size: 24px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  text-shadow: black 0.05rem 0.05rem;
}

.navbar-home a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon {
  font-size: 2rem;
}

.iconTxt {
  display: none;
}

@media (max-width: 768px) {
  .menu-show {
    max-height: 250px;
  }
  .menu-noshow {
    max-height: 0px;
  }
  .ham {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .ham .line {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    top: 50%;
    position: absolute;
    left: 0;
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 8px;
  }
  .ham .line::after, .ham .line:before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
  }
  .ham .line::after {
    top: 12px;
  }
  .ham .line::before {
    bottom: 12px;
  }
}
/*# sourceMappingURL=navbar.module.css.map */