@import "../../styles/color";
.page-button {
  cursor: pointer;
  &:hover {
    background-color: white;
  }
  &:active {
    background: $main_color;
    color: white;
  }
  padding: 4px 10px;
  border: 1px solid $secondary_color;
  color: $secondary_color;
}

.page-button:first-of-type {
  border-radius: 4px 0 0 4px;
}
.page-button:last-of-type {
  border-radius: 0 4px 4px 0;
}

.page-button-current {
  background: $secondary_color;
  color: white;
  &:hover {
    background-color: $secondary_color;
  }
}
.pagination {
  display: flex;
  margin-bottom: 10px;
  li:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  li:last-of-type {
    border-radius: 0 4px 4px 0;
  }
}
